<!-- <form [formGroup]="authForm" (ngSubmit)="onSubmitReactive()">
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" formControlName="email" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      formControlName="password"
    />
  </div>
  <button type="submit">{{ isLoginMode ? "Log In" : "Sign Up" }}</button>
  <button type="button" (click)="onSwitchMode()">
    Switch to {{ isLoginMode ? "Log In" : "Sign Up" }}
  </button>
</form> -->

<p *ngIf="error" class="alert">{{ error }}</p>
<p *ngIf="success" class="success">{{ success }}</p>

<form
  class="auth-form"
  *ngIf="!isFetching"
  #authForm="ngForm"
  (ngSubmit)="onSubmitTemplate(authForm)"
>
  <div class="form-group">
    <label class="form-label" for="email">Email</label>
    <input
      class="form-control"
      id="email"
      name="email"
      type="email"
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <label class="form-label" for="password" for="password">Password</label>
    <input
      class="form-control"
      id="password"
      name="password"
      type="password"
      ngModel
      required
      password
      minlength="1"
    />
  </div>
  <div class="btn-container">
    <button class="btn btn-confirm" type="submit" [disabled]="authForm.invalid">
      {{ isLoginMode ? "Log In" : "Sign Up" }}
    </button>
    <button class="btn btn-standard" type="button" (click)="onSwitchMode()">
      Switch to {{ isLoginMode ? "Sign Up" : "Log In" }}
    </button>
  </div>
</form>

<h2 *ngIf="isFetching">Fetching...</h2>
