<button type="button" class="btn btn-fetch" (click)="onGetCards()">
  Get cards
</button>
<button type="button" class="btn btn-delete" (click)="onDeleteCards()">
  Delete cards
</button>

<p *ngIf="!cards.length && !fetching">
  There are no cards to display...please add one
</p>

<p *ngIf="fetching">Fetching...</p>

<ng-container *ngIf="cards && !fetching">
  <div class="card-container">
    <molecule-cards
      *ngFor="let card of cards; index as i; last as isLast"
      [card]="card"
      [index]="i"
      [isLast]="isLast"
      (deleteCard$)="deleteCard(i, isLast)"
      (editCard$)="editCard(i)"
    ></molecule-cards>
  </div>
</ng-container>
