<!-- <p>{{ userName }}</p> -->

<!-- <div class="header-nav">
  <a class="btn-link" routerLink="/home" *ngIf="isAuthenticated">Home</a>
  <a class="btn-link" routerLink="/" *ngIf="!isAuthenticated">Auth</a>
  <a class="btn-link" routerLink="/detail">Detail</a>
</div> -->

<div class="header__title">
  <p>{{ heading | uppercase }}</p>
  <!-- <span>{{ cardCount }} / 100</span> -->
</div>

<div class="dropdown__container" dropdown>
  <div class="dropdown__trigger">
    <span></span>
  </div>

  <ul class="dropdown__menu">
    <li
      *ngIf="isAuthenticated"
      (click)="onLogOut()"
      class="dropdown__menu--item"
    >
      Log out
    </li>
  </ul>
</div>
