@import "../../../assets/styles/variables";

:host {
  width: 100%;
  display: flex;
  flex-flow: column;
  background: $endeavour;
}

.card__header {
  color: $white;
  background: $black;
}
