<header class="card__header">
  <p class="card__header--content">
    <span class="mobile-hidden card__header--content-day">Day</span>
    {{ card.day }}
  </p>
</header>
<main class="card__body">
  <p class="card__body--text">
    <span>Time</span>
    <span class="card__body--text--variable">
      {{ card.time }}
    </span>
  </p>
  <p class="card__body--text">
    <span *ngIf="card.set !== 'unbroken'">
      Set
    </span>
    <span
      [ngClass]="{ unbroken: card.set === 'unbroken' }"
      class="card__body--text--variable"
    >
      {{ card.set }}
    </span>
  </p>
</main>

<!-- Not ready yet -->
<!-- <button type="button" (click)="onManageCard()">
  {{ setButtonManageContent() }}
</button>
<button type="button" (click)="onEditCard()">Edit</button> -->
