@import "./assets/styles/tools";
@import "./assets/styles/normalize";
@import "./assets/styles/base";

@import "./assets/styles/buttons";
@import "./assets/styles/form";
@import "./assets/styles/dropdown";

.alert {
    color: red;
    background: rgba(255, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

.success {
    color: blue;
    background: rgba(0, 0, 255, 0.5);
    padding: 20px;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 300px;
    padding: 0 0 3rem;
    @include screen-sm {
        padding: 0 0 100px;
    }
}
