<h2>{{ title }}</h2>

<form class="form" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <!-- <label class="label">Day</label>
  <input class="input" id="day" type="text" formControlName="day" /> -->

  <label class="label">Time</label>
  <input class="input" id="time" type="text" formControlName="time" />

  <label class="label">Set</label>
  <input class="input" id="set" type="text" formControlName="set" />

  <button class="btn" type="submit" [disabled]="cardForm.invalid">
    {{ cta }}
  </button>
</form>
