@import "../../../assets/styles/variables";

:host {
  flex: 1;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
}

.btn {
  padding: 5px;
  border-radius: 4px;
  background: $endeavour;
  color: $monza;
}
